/* Base style variables */
:root {
    --primary-background: #ADCCFF;
    --button-background: #E5EFFF;
    --bright-button-background: deepskyblue;
    --dialog-background: #ADDDFF;
    --paper-tab-ink: blue;
    --paper-button-ink-color: blue;
    --paper-tabs-selection-bar-color: blue;
}


/* Native element styles */
body {
    font-family: "MedievalSharp", serif;
    margin: 10px;
    background: var(--primary-background);
}

a {
    text-decoration: none;
}

h1 {
    margin: 35px auto 20px auto;
    width: 70%;
    text-align: center;
}

h2 {
    padding: 10px 0 0 20px;
    margin: 10px;
}

table {
    width: 100%;
    margin: 0 auto;
}

td {
    vertical-align: top;
}

th {
    height: 50px;
    text-align: left;
}

table, td, th {
    padding: 2px;
    border: 2px solid darkblue;
    border-collapse: collapse;
}


/* Polymer element styles */
paper-button {
    font-family: "MedievalSharp", serif;
    font-weight: bold;
    text-transform: capitalize;
    background: var(--button-background);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0;
}

paper-dialog {
    font-family: "MedievalSharp", serif;
    font-weight: bold;
    width: 85%;
    height: 85%;
    border-radius: 5px;
    background: var(--dialog-background);
}

paper-dialog-scrollable {
    height: 250px;
}

paper-dropdown-menu, paper-input {
    padding: 0 5px;
}

paper-listbox {
    width: 200px;
    height: 250px;
}

paper-tabs {
    width: 80%;
    margin: 15px auto 0 auto;
    background: var(--button-background);
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 5px 0;
}


/* Button styles */
#nav-buttons {
    margin: 0 auto;
    width: 30%;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.blue-button {
    background-color: var(--bright-button-background);
    text-align: center;
}

.die-button {
    position: relative;
    top: -5px;
}

.nav-button {
    width: 30%;
    color: black;
}

.title-button {
    position: relative;
    top: -10px;
}

/* Dialog styles */
.dialog-tabs {
    width: 90%;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
}

/* Form block styles */
.column {
    display: inline-block;
    width: 45%;
    padding: 5px 20px 5px 10px;
}

.column-container {
    width: 80%;
    margin: 0 auto;
}

.form {
    font-family: "MedievalSharp", serif;
    width: 80%;
    margin: 0 auto;
    background: var(--button-background);
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 5px 0;
}

.short-column {
    display: inline-block;
    width: 25%;
    padding: 10px 10px 10px 30px;
}


/* Input field styles */
.box-input {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    outline: none;
    margin: 0 5px;
}

.box-input:focus {
    box-shadow: 0 0 0 2px blue;
}

.dropdown-icon {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
}

.input {
    display: inline-block;
    width: 97%;
}

.small-input {
    display: inline-block;
    width: 48%;
}

.small-input paper-dropdown-menu {
    width: 70%;
}

.small-input paper-input {
    width: 90%;
}

.small-listbox {
    height: 150px;
}
